<div class="container">

  <p class="my-4 h1-title">{{data?.name}}</p>
  <mat-divider></mat-divider>

  <div *ngIf="this.data?.assets?.length === 0 ">

    <div class="card text-center text-white bg-dark">
      <div class="card-body">
        <h2 class="card-title">This portfolio is empty</h2>
        <p class="card-text">Add any coins to get started</p>
        <a href="javascript: void(0);" class="btn btn-primary" (click)="openDialog()">Add new</a>
      </div>
    </div>

  </div>

  <div *ngIf="this.data?.assets?.length !== 0 ">

    <div class="card text-center text-white bg-dark">
      <div class="card-body">
        <a href="javascript: void(0);" class="btn btn-primary" (click)="openDialog()">Add new movement</a>
      </div>
    </div>
    <!-- <pre>
      <p class="card-text">
        {{this.data | json}}
      </p>
    </pre> -->

    <br>

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8 w-100">

      <!-- Name Column -->
      <ng-container matColumnDef="currencie">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by currencie">
          Currencie
        </th>
        <td mat-cell *matCellDef="let element">
          <img
            src="https://static.coincap.io/assets/icons/{{element.symbol | lowercase}}@2x.png"
            alt="{{element.symbol}}"
            width="40px"
            height="40px"
          >
          {{element.name}}
          <sup class="text-muted">{{ element.symbol | uppercase }}</sup>
        </td>
      </ng-container>

      <!-- Holdings Column -->
      <ng-container matColumnDef="holdings">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by holdings">
          Holdings
        </th>
        <td mat-cell *matCellDef="let element">{{element.holdings | currency}}</td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by quantity">
          Quantity
        </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
          Symbol
        </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol | uppercase}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="averageBuyPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by averageBuyPrice">
          Avg. Buy Price
        </th>
        <td mat-cell *matCellDef="let element"> {{element.averageBuyPrice | currency}} </td>
      </ng-container>

      <!-- ProfitLoss Column -->
      <ng-container matColumnDef="profitLoss">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by profitLoss">
          Profit/Loss
        </th>
        <td mat-cell *matCellDef="let element" [ngClass]="element.profitLoss > 0 ? 'text-success' : 'text-danger'">
          {{element.profitLoss | currency}}
          <p class="text-muted sub-value">
            {{element.profitLossPercentage | percent}}
          </p>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by delete">
          Delete
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="this.delete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <br>

  </div>

</div>
